<p id="notice"><%= notice %></p>

<h1>Hangman</h1>
<h3>New Game</h3>
<p><%= link_to 'New Game - One Player', new_game_path %></p>
<p><%= link_to 'New Game - Two Players', games_newmulti_path %></p>
<h3>Load Game</h3>
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Game</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.player.name%></td>
        <td><%= link_to 'Game ' + game.id.to_s, game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
